body{
    font-family: 'Times New Roman', Times, serif;
    background-color:aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: ;
}
 .signin-form{
    background-color: aquamarine;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(20, 10, 30, 40);
    width: 300px;

 }
 .signin-form h2{
    margin-bottom: 20px;
    font-size: 20px;
    text-align: center;
}
.signin-form input{
    width: 100%;
    padding: 10px;
    background-color: black;
    border: none;
    border-radius: 4px;
    color: blue;
    font-size: 16px;
    cursor: pointer;
}
.signin-form button :hover{
    background-color: blanchedalmond;
}
